.row {
    min-height: 2.5em;
}

[class*="col-"] {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    line-height: 2em;
    vertical-align: middle;
}

[class*="col-"] [class*="col-"] {
    background-color: lightgreen;
    border: 1px solid blue;
}